<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="formulario">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="codigo" id="id">
            </div>
            <div class="col">
                <select class="form-control form-control-lg" id="app">
                    <% for(var i = 0; i < platforms.length; i++) {%> 
                        <option value="<%= platforms[i] %>"><%= platforms[i] %></option>
                    <% } %> 
                </select>
            </div>
            <div class="col">
                <select class="form-control form-control-lg" id="status">
                    <% for(var i = 0; i < status.length; i++) {%> 
                    <option value="<%= status[i] %>"><%= status[i] %></option>
                    <% } %> 
                </select>
            </div>
            <button onclick="agregar()" id="add-order" class="btn btn-primary">Enviar</button>
        </div>
    </div>
    <button onclick="update()" class="btn btn-primary">Actualizar</button>

    <div class="orders-body">
        <div class="md-6 right-border">
            <h1>Pedidos listos</h1>
            <div class="orders"></div>
        </div>
        <div class="md-6">
            <h1>Pedidos en proceso</h1>
            <div class="orders-making "></div>
        </div>
    </div>

    <!-- Funciones-->
    <script type='text/javascript' src='js/jquery-3.5.1.min.js'></script>
    <script type='text/javascript' src='js/utils.js'></script>
    <script type='text/javascript' src='js/functions.js'></script>
    <script type="text/javascript" src='js/master.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    
    <!-- Funciones que se deben iniciar cuando el dom esta cargado -->
    <!-- <script type='text/javascript' src='js/initializer.js'></script> -->

    <!-- Template -->
    <template id="order_template">
        <div class="content">
            <div class="app"></div>
            <div class="id"></div>
            <div class="status"></div>
            <button class="btn btn-primary" id="remove">Eliminar</button>
            <button class="btn btn-primary" id="ready">Listo</button>
        </div>
    </template>
    <script>
        function agregar(){
            newOrder();
            update();
        }
    </script>
</body>

</html>